.multi-level,.item ul,.nav input[type="checkbox"]{
    display: none;
}

#menu:checked ~ .multi-level,.item input:checked~ul{
    display: block;
}

.arrow{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 18px 1em 0 2em;
}

.item input+.arrow{
    transform: rotate(-90deg);
    transition: 0.1s;
}
.item input:checked+.arrow{
    transform: rotate(0deg);
    transition: 0.1s;
}

label:hover{
    cursor: pointer;
}

label{
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}

.nav{
    width: 100%;
    background-color: white;
    border-bottom:1px solid black ;
    overflow-x: hidden;
}

#nav-icon{
    font-size: 1.5em;
    line-height: 50px;
    color: white;
    padding-left: 1em;
    background-color: #F44336;
}

.nav ul,.nav li,label{
       line-height: 50px;
       margin: 0;
       padding: 0 2em;   
       list-style: none;
       text-decoration: none;
       color: #90A4Ae;
       font-weight: 100;
       width: 100%;
}

.item ul{
    padding: 0 0.25em;
}

.nav li a{
    line-height: 50px;
    margin: 0;
    padding: 0 4em;   
    list-style: none;
    text-decoration: none;
    color: #90A4Ae;
    font-weight: 100;
}